@import "~antd/dist/antd.css";

body {
  background-color: #fcfaff;
}

h1 {
  font-weight: bold;
  font-size: 70px;
}

.petitem,
.tableheader {
  padding: 8px;
  display: flex;
  align-items: center;
}

.tableheader {
  font-weight: 600;
  margin-bottom: 0.3rem;
}

.type {
  flex: 0 1 40px;
  margin-right: 0.5rem;
  text-align: center;
}
.name {
  flex: 0 1 90px;
}

.sort-filter-buttons {
  margin: 5px;
}
